<table>
<tr><td>#</td> <td>Smile</td> <td>Times sayed</td> <td>Last Said</td> </tr>
<tr><td>1</td><td>:D</td><td>17886</td><td>Tonzaw</td></tr><tr><td>2</td><td>;D</td><td>6000</td><td>Tounuli</td></tr><tr><td>3</td><td>:)</td><td>1893</td><td>Tonzaw</td></tr><tr><td>4</td><td>:(</td><td>1722</td><td>The_Kim</td></tr><tr><td>5</td><td>:o</td><td>1180</td><td>R4mzi</td></tr><tr><td>6</td><td>:DD</td><td>957</td><td>Takatukka</td></tr><tr><td>7</td><td>;O</td><td>887</td><td>Tounuli</td></tr><tr><td>8</td><td>;(</td><td>733</td><td>Tounuli</td></tr><tr><td>9</td><td>;)</td><td>652</td><td>Z61</td></tr><tr><td>10</td><td>:d</td><td>489</td><td>Jax`</td></tr><tr><td>11</td><td>:O</td><td>451</td><td>Jupe</td></tr><tr><td>12</td><td>;_;</td><td>404</td><td>Laiz</td></tr><tr><td>13</td><td>:<</td><td>383</td><td>Tonzaw</td></tr><tr><td>14</td><td>:DDD</td><td>308</td><td>Z61</td></tr><tr><td>15</td><td>8)</td><td>282</td><td>Jupe</td></tr><td></td><td colspan="2"><center>Staseihin ei mahtunut 5469 hymiötä.</center></td><td></td></tr>
</table>
