<table>
<tr><td>#</td> <td>Word</td> <td>Times sayed</td> <td>Last Said</td> </tr>
<tr><td>1</td><td>Mitä</td><td>5872</td><td>Z61</td></tr><tr><td>2</td><td>joku</td><td>5857</td><td>Z61</td></tr><tr><td>3</td><td>niin</td><td>5073</td><td>aiat</td></tr><tr><td>4</td><td>sitä</td><td>3683</td><td>Z61</td></tr><tr><td>5</td><td>vittu</td><td>3555</td><td>Tounuli</td></tr><tr><td>6</td><td>tulee</td><td>3044</td><td>Z61</td></tr><tr><td>7</td><td>aika</td><td>2904</td><td>aiat</td></tr><tr><td>8</td><td>vois</td><td>2888</td><td>Pikkuz</td></tr><tr><td>9</td><td>olla</td><td>2758</td><td>Tounuli</td></tr><tr><td>10</td><td>ollu</td><td>2739</td><td>aiat</td></tr><tr><td>11</td><td>viel</td><td>2725</td><td>Tounuli</td></tr><tr><td>12</td><td>vähä</td><td>2666</td><td>Z61</td></tr><tr><td>13</td><td>kaikki</td><td>2596</td><td>aiat</td></tr><tr><td>14</td><td>aina</td><td>2537</td><td>Z61</td></tr><tr><td>15</td><td>taas</td><td>2521</td><td>aiat</td></tr></table>
