<div class="first"> [SL]RuneScript:n pitäisi opetalla käyttämään Googlea! 3.1% hänen ajastaan oli kyssäreitä...</div><div class="second"> [XL]RuneScript:ssa ei myöskään ole kehumista. Hän kyseli tyhmiä 2.25% ajastaan.</div>
<hr class="most" />
<div class="first">LordJepulis huusi 0.81% ajastaan.</div><div class="second">[TH]RuneScript huusi myös 0.51% ajastaan.</div>
<hr class="most" />
<div class="first">Jane törttöili capsi päällä 0.14% ajastaan...</div><div class="second">Jane_ törttöili myös capsi päällä 0.14% ajastaan...</div>
<hr class="most" />
<div class="first">Laiz huitoi muita taimenella 173 kertaa.</div><div class="second">Jax` myös huitoi muita taimenella 131 kertaa.</div>
<hr class="most" />
<div class="first">Laiz sai kalasta naamalleen 97 kertaa.</div><div class="second">Jax` tulee heti perässä yhtä pahan  hajuisena 68 kerralla.</div>
<hr class="most" />
<div class="first">Tounuli ollut positiivinen 3603 kertaa.</div><div class="second">Myös karu on hymyillyt 3296 kertaa.</div>
<hr class="most" />
<div class="first">Jupe on ollu naama norsun vitulla 526 kertaa.</div><div class="second">Tounuli on myös ollut apeana 455 kertaa.</div>
<hr class="most" />
<div class="first">[SL]RuneScript kirjottaa pitkiä 148.44 merkin lauseita.</div><div class="second">[XL]RuneScript rikkoo rajoja 137.98 merkin viesteillä.</div>
<hr class="most" />
<div class="first">[SL]RuneScript yrittää kirjoittaa romaanin 27.68 sanalla.</div><div class="second">[XL]RuneScript tulee novellin kanssa perässä 26.11 sanalla.</div>
<hr class="most" />
<div class="first">CookiesPLX monotti porukkaa 23 kertaa.</div><div class="second">SaunaPker myös monotti porukkaa 16 kertaa.</div>
<hr class="most" />
<div class="first">Z61 potkittiin 14 kertaa.</div><div class="second">Z61_ potkittiin myös 6 kertaa.</div>
<hr class="most" />
<div class="first">SaunaPker_ antoi lipun banaanisaarille 3 kertaa.</div><div class="second">CookiesPLX lähetti myös postia banaanisaarille 1 kertaa.</div>
<hr class="most" />
<div class="first">Yksinäinen sielu Z61 on avautunut 5 rivin monologeina 268 kertaa.</div><div class="second">Myös Tounuli kaipaa seuraa, sillä hän on puhunut yksikseen 193 kertaa.</div>
<hr class="most" />
<div class="first">SaunaPker_ on saanut opit yhteensä  1028 kertaa.</div><div class="second">SaunaPker sain opit myös 954 kertaa.</div>
<hr class="most" />
<div class="first">SaunaPker parka, häneltä riistetiin opit 2 kertaa.</div><div class="second">Myös Jupe_ on hyväksikäytön uhri, hänkin menetti opit 2 kertaa.</div>
<hr class="most" />
<div class="first">Tonzaw leikkii hyväntekijää ja lahjoitti opit 12 kertaa.</div><div class="second">Myös SaunaPker yrittää parantaa suosiotaan jakamalla oppeja 1 kertaa.</div>
<hr class="most" />
<div class="first">SaunaPker esittää olevansa stalin ja vei muilta opit 2 kertaa.</div><div class="second">Ja Tonzaw on hänen kätyrinsä 2 oppien riiston kera.</div>
<hr class="most" />
<div class="first">valokaapeli on saanut äänensä 501 kertaa.</div><div class="second">Tounuli kirkuu myös vieressä 482 voicen kera.</div>
<hr class="most" />
<div class="first">Laiz'ltä riistettiin äänensä 4 kertaa.</div><div class="second">Myös Z61 joutui äänen riiston uhriksi 1 kertaa.</div>
<hr class="most" />
<div class="first">SaunaPker tukee yleistä sananvaltaa ja jakoi oppeja 6 kertaa.</div><div class="second">Tonzaw tukee myös parhaansa mukaan ja kantoi kortensa kekoon 5 voicella.</div>
<hr class="most" />
<div class="first">SaunaPker vastustaa tasa-arvoa ja sananvapautta viemellä voicet 5 kertaa.</div><div class="second">Myökään CookiesPLX'ssä ei ole kehumista, sillä hän vei voicet 4 kertaa.</div>
<hr class="most" />
